.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & button {
    margin: 0.5rem auto;
  }
}

.App-logo {
  fill: aliceblue;
  & img{
    height: 20vmin;
    pointer-events: none;
  }

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AppH1 {
  margin: 0.5rem auto;
}
